.git
.github
.idea
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
bin
app/.dart_tool
app/build
app/.packages
app/.flutter-plugins
app/.flutter-plugins-dependencies
apps/trust-game-app/.dart_tool
apps/trust-game-app/build
apps/trust-game-app/.packages
apps/trust-game-app/.flutter-plugins
apps/trust-game-app/.flutter-plugins-dependencies
